<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cleaner Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d4607847-3f6e-4641-bc16-d0c6622bd173&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav>
            {% if 'user_id' in session %}
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% else %}
                <a href="{{ url_for('login') }}">Вход</a>
                <a href="{{ url_for('register') }}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });
        }
    </script>
</body>
</html>